body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  width: 40%;
}

.hidden {
  display: none;
}

#content {
  width: 50%;
  max-width: 1200px;
  height: 50%;

  background-color: var(--bg-form-color);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

#content h1 {
  font-weight: medium;
  font-family: "Open-Sans", sans-serif;
  color: var(--primary-color);
  margin: 10px 0 0 20px;
}

#content p {
  color: var(--primary-color);
  font-family: "Open-Sans", sans-serif;
  margin: 10px 0 0 20px;
  font-size: 1.2rem;
}

#content form {
  width: 100%;
  height: 20%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#content form {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

#content form input {
  width: 30%;
  height: 55px;
  border: var(--border);
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 15px;
  outline: none;
  color: var(--primary-color);
  font-family: "Open-Sans", sans-serif;
}

#content form select {
  width: 30%;
  height: 55px;
  border: var(--border);
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 15px;
  outline: none;
  color: var(--primary-color);
  font-family: "Open-Sans", sans-serif;
  background: #fff;
}

#content input[type="submit"] {
  background: var(--button-bg);
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  width: 30%;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: background 0.6s;
  font-size: 1.2rem;
}

#content input[type="submit"]:hover {
  background: var(--button-bg-hover);
}

#content form > div {
  height: 100%;
}

#content form #aside-left {
  width: 80%;
  margin-left: 20px;
}

#content form #aside-rigth {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -65px;
}

#lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
  width: 50%;
}

#lateral input[type="file"] {
  display: none;
}

#lateral #img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: var(--border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lateral #img img {
  margin-bottom: 10px;
  width: 20%;
}

#lateral label {
  border: var(--border);
  background-color: #fff;
  padding: 10px;
  font-size: 0.8rem;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  color: var(--primary-color);
  cursor: pointer;
  outline: none;
  width: 25vw;
  text-align: center;
}

#lateral label[for="sendImg"] {
  height: 20vh;
}

#message {
  position: absolute;
  top: 100px;
  left: 0;
  width: 18%;
  height: 5vh;
  line-height: 5vh;
  background: #fff;
  font-family: "Open-Sans", sans-serif;
  padding-left: 15px;
  color: var(--primary-color);
  animation: fadeIn 0.5s;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

#buttons {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-around;
}

#buttons button {
  background: var(--button-bg);
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  width: 30%;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: background 0.6s;
  font-size: 1.2rem;
}

#buttons button:hover {
  background: var(--button-bg-hover);
}

@keyframes fadeIn {
  0% {
    left: -500px;
  }

  100% {
    left: 0;
  }
}

@keyframes fadeOut {
  0% {
    left: 0px;
  }

  100% {
    left: -500px;
  }
}

div#message.success {
  color: var(--primary-color);
}

div#message.error {
  color: #f00;
}

@media (max-width: 640px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img {
    width: 80%;
    position: relative;
    top: 15%;
  }

  #content {
    position: relative;
    top: 15%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #content p {
    margin-top: -100px;
  }

  #content form {
    display: flex;
    flex-direction: column;
  }

  #aside-left div {
    display: flex;
    margin-top: -100px;
    flex-direction: column;
  }

  #aside-left div input,
  #aside-left div select {
    width: 90%;
    margin-top: 20px;
  }

  #aside-rigth div#lateral {
    margin-top: 160px;
    height: 150px;
  }

  #lateral #img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: var(--border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #lateral #img img {
    margin-bottom: 10px;
    width: 20%;
    position: relative;
    top: 10%;
    transform: translateY(-50%);
  }

  #buttons {
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-around;
  }

  #buttons button,
  #buttons input[type="submit"] {
    width: 40%;
  }
}
