.hidden {
  display: none;
}

#container {
  display: flex;
}

#content {
  background: #282c34;
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100vh;
  width: 80%;
  flex-direction: column;
}

#content h1 {
  font: 4rem "Open Sans";
  color: #fff;
  text-align: center;
}

section {
  position: relative;
  top: 50px;
  height: calc(100vh - 50px);
  width: 20%;
  left: 0;
  background: #fff;
  color: var(--primary-color);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

section h1 {
  margin: 50px 0 10px;
  text-align: center;
  font: 500 1rem "Roboto", sans-serif;
}

section #info {
  margin: 0 30px;
}

section button {
  width: 80%;
  padding: 10px;
  margin: 10px auto;
  background: var(--button-bg);
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: #fff;
  font: 1.2rem "Roboto";
  transition: background 0.3s;
  outline: none;
}

section button:hover {
  background: var(--button-bg-hover);
}

section .name {
  font: 400 1.2rem "Open Sans";
}

section .email {
  font: 1rem "Open Sans";
}

section .disponivelP {
  font: 1rem "Open Sans";
}

section .disponivel {
  color: #0f0;
}

section .indisponivel {
  color: #f00;
}

@media (max-width: 648px) {
  #container {
    flex-direction: column;
  }

  section {
    height: 20vh;
    width: 100vw;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
  }

  #content {
    width: 100%;
  }
}
