.hidden {
  display: none;
}

#container {
  display: flex;
  position: relative;
  top: 50px;
  height: calc(100vh - 50px);
  overflow: hidden;
}

#animais {
  background: #282c34;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 80%;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  scrollbar-width: 0px;
}

#animais h1 {
  color: #fff;
  font: 500 3rem Roboto, sans-serif;
}

#animais::-webkit-scrollbar {
  width: 0px;
}

#container div.animal {
  background: #fff;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin: 30px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

#container div.animal:hover {
  width: 300px;
  height: 300px;
}

.img {
  width: 100px;
  height: 100px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
}

.name {
  font: 1.2rem "Open Sans", sans-serif;
  margin-top: 5px;
}

section {
  position: relative;
  height: 100vh;
  width: 20%;
  left: 0;
  background: #fff;
  color: var(--primary-color);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

section h1 {
  margin: 10px 0;
  text-align: center;
  font: 500 2rem "Roboto", sans-serif;
}

section #info {
  margin: 30px 30px 50px;
}

section button {
  width: 80%;
  padding: 10px;
  margin: 10px auto;
  background: var(--button-bg);
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: #fff;
  font: 1.2rem "Roboto";
  transition: 0.3s;
  outline: none;
}

section button:hover {
  background: var(--button-bg-hover);
}

section .name {
  font: 400 1.2rem "Open Sans";
}

section .email {
  font: 1rem "Open Sans";
}

@media (max-width: 648px) {
  #container {
    flex-direction: column;
  }

  section {
    height: 35vh;
    width: 100vw;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
  }

  #animais {
    width: 100%;
    height: calc(100vh - 35vh);
  }

  #container div.animal {
    background: #fff;
    width: 200px;
    height: 200px;
  }

  #container div.animal img {
    width: 100px;
    height: 100px;
  }

  .name {
    font-size: 1rem;
  }
}
