<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/logo.svg" type="image/x-icon" />
    <link rel="stylesheet" href="../../components/menu/style.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../../../global.css" />

    <title>Lares Temporários</title>
  </head>
  <body>
    <div id="container">
      <div id="content">
        <button id="back">Voltar</button>
        <h1>Lares Temporários</h1>
      </div>
    </div>

    <script src="../../components/menu/index.js"></script>
    <script src="script.js"></script>
  </body>
</html>
